<li><a data-toggle="tab" href="#eshtraits-powers">Powers</a></li>
<li><a data-toggle="tab" href="#eshtraits-skills">Skills</a></li>
<li><a data-toggle="tab" href="#eshtraits-advantages">Advantages</a></li>
<li><a data-toggle="tab" href="#eshtraits-flaws">Flaws</a></li>