<div id="eshtraits-powers" class="tab-pane fade">
    {{{ansi-format text=char.custom.powers}}}
</div>
<div id="eshtraits-skills" class="tab-pane fade">
    {{{ansi-format text=char.custom.skills}}}
</div>
<div id="eshtraits-advantages" class="tab-pane fade">
    {{{ansi-format text=char.custom.advantages}}}
</div>
<div id="eshtraits-flaws" class="tab-pane fade">
    {{{ansi-format text=char.custom.flaws}}}
</div>